---
import Button from '@components/Dynamic/Button'
import Layout from '@layouts/Layout.astro'

const STEPS = [
  'Puedes llenar el test completo en un intento, o puedes elegir uno de los cuatro subtest y avanzar uno a la vez. El test completo consta de 20 competencias del líder y cada subtest de 5 competencias.',
  'En cada subtest, o en el test completo (según elijas) obtendrás la medida en que has desarrollado cada competencia, en una escala de 0 a 100% ',
  'En el test completo invertirás entre 20 y 30 minutos. En cada subtest, considera entre 5 y 8 minutos.'
]
---

<Layout title='Test de liderazgo' description=''>
  <main class='mx-auto max-w-screen-md py-8 leading-7'>
    <h1 class='text-4xl font-bold'>Test de liderazgo</h1>
    <p class='text-primary-300 text-sm py-2'>
      Conocer tus cualidades de liderazgo y lo que te falta por desarrollar es
      indispensable para que alcances la excelencia.
    </p>

    <p class='py-4'>
      Ningún test te dará la profundidad y alcance de esta herramienta. La
      información que obtendrás es muy completa y podrás profundizar tanto como
      quieras.
    </p>

    <h2 class='text-2xl font-semibold'>INSTRUCCIONES</h2>
    <p class='py-4'>Sólo contesta "sí" o "no" (me identifico con la frase).</p>
    <h2 class='text-2xl font-semibold mt-4'>Toma en cuenta lo siguiente:</h2>
    <ul class='list-decimal ml-8 py-4'>
      <li>Contesta lo que te describa mejor, no lo que te haría ver bien.</li>
      <li>
        Si tienes dudas entre "sí" y "no", elige hacia dónde se inclina la
        balanza.
      </li>
      <li>
        Si interrumpes el test, cada vez que entres continuarás en donde te
        quedaste.
      </li>
    </ul>
    <div class='flex-1 flex justify-center'>
      <Button as='a' href='/tests/test_liderazgo' className='mt-10 w-[50%]'
        >Empezar</Button
      >
    </div>
  </main>
</Layout>
