---
import Button from '@components/Dynamic/Button'
---

<header
  class='flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#efe9e1] px-10 py-3'
>
  <a href='/' class='flex items-center gap-4 text-[#1b150e]'>
    <div class='size-4'>
      <svg viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'
        ><path d='M6 6H42L36 24L42 42H6L12 24L6 6Z' fill='currentColor'
        ></path></svg
      >
    </div>
    <h2 class='text-primary-500 text-lg font-bold leading-tight tracking-tight'>
      LEAD
    </h2>
  </a>
  <div class='flex gap-2'>
    <Button> Sign In </Button>
    <Button variant='secondary'> Register </Button>
  </div>
</header>
